.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 105vh;
  text-align: center;
  background-color: black;
  overflow: hidden;
}
h1 {
  margin-right: 7rem;
  color: white;
}
span {
  margin-left: 3rem;
  color: rgb(189, 43, 226);
  font-size: 30px;
}
